:root {
    --turquoise: #00AAAA;
    --turquoise-16: rgb(0, 170, 170, 16%);
    --grey-l-70: #B3B3B3;
    --salad-green: #67AE2B;
    --salad-light: #EAF7DF;
    --sand: #CC9F7A;
    --sand-light: #FAF3ED;
    --white-like-button: rgb(255, 255, 255, 55%);
}

* {
    font-family: 'Raleway', sans-serif;
}

@media (min-width:480px) {
    .filt__button {
        border: 1px solid var(--turquoise);
        border-radius: 6px;
        background: none;
        padding: 8px 16px;
        font-weight: 600;
    }

    .filt__button:hover {
        background-color: var(--turquoise-16);
    }

    .tips{
        display: flex;
        flex-direction: column;
        width: 328px;
    }

    .tips__button {
        display: flex;
        align-content: baseline;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 12px;
        border-radius: 6px;
        border: none;
    }

    .tips__button__green {
        background-color: var(--salad-light);
    }

    .tips__button__red {
        background-color: var(--sand-light);
    }

    .tips__button span {
        line-height: 20px;
        font-weight: 600;
        font-size: 16px;
        margin-left: 8px;
    }

    .vip_banner {
        width: 328px;
        border: 1px solid var(--turquoise);
        border-radius: 6px;
    }

    .vip_banner__content {
        margin: 16px 24px;
    }

    .vip_banner__text {
        line-height: 20px;
    }

    .vip_banner__ref{
        text-decoration: none;
        color: var(--turquoise);
        line-height: 20px;
        font-weight: 600;
    }
}