:root {
    --turquoise: #00AAAA;
    --turquoise-16: rgb(0, 170, 170, 16%);
    --grey-l-70: #B3B3B3;
    --salad-green: #67AE2B;
    --sand: #CC9F7A;
    --white-like-button: rgb(255, 255, 255, 55%);
}

* {
    font-family: 'Raleway', sans-serif;
}

@media (min-width:480px) {
    .filt__button {
        border: 1px solid var(--turquoise);
        border-radius: 6px;
        background: none;
        padding: 8px 16px;
        font-weight: 600;
    }

    .filt__button:hover {
        background-color: var(--turquoise-16);
    }

    .tips{
        display: flex;
        flex-direction: column;
        width: 328px;
    }

    .tips__button {

    }
}