:root {
    --turquoise: #00AAAA;
    --turquoise-16: rgb(0, 170, 170, 16%);
    --grey-l-60: #999999;
    --grey-l-70: #B3B3B3;
    --grey-l-80: #CCCCCC;
    --salad-green: #67AE2B;
    --salad-light: #EAF7DF;
    --sand: #CC9F7A;
    --sand-light: #FAF3ED;
    --white-like-button: rgb(255, 255, 255, 55%);
}

* {
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width:480px) {
    .search_bar {
        display: flex;
        flex-direction: column;
        width: 328px;
        margin-bottom: 32px;
    }

    .search_bar__selector:first-child {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .search_bar__selector {
        border: 1px solid var(--grey-l-80);
        height: 52px;
        appearance: none;
        background: url(./src/selector_arrow.svg) no-repeat right;
        background-position-x: calc(100% - 20px);
        padding: 0 20px;
        font-weight: 400;
    }

    .search_bar__input {
        color: var(--grey-l-60);
        padding: 0 20px;
        border: 1px solid var(--grey-l-80);
        height: 52px;
    }

    .search_bar__button {
        background-color: var(--turquoise);
        color: white;
        font-weight: 600;
        height: 52px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border: none;
    }

    .filtration {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .filt__button {
        border: 1px solid var(--turquoise);
        border-radius: 6px;
        background: none;
        padding: 8px 16px;
        font-weight: 600;
        margin-right: 12px;
    }

    .filt__button:hover {
        background-color: var(--turquoise-16);
    }

    .tips{
        display: flex;
        flex-direction: column;
        width: 328px;
    }

    .tips__button {
        display: flex;
        align-content: baseline;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 12px;
        border-radius: 6px;
        border: none;
    }

    .tips__button__green {
        background-color: var(--salad-light);
    }

    .tips__button__red {
        background-color: var(--sand-light);
    }

    .tips__button span {
        line-height: 20px;
        font-weight: 600;
        font-size: 16px;
        margin-left: 8px;
    }

    .vip_banner {
        width: 328px;
        border: 1px solid var(--turquoise);
        border-radius: 6px;
        margin-bottom: 32px;
    }

    .vip_banner__content {
        margin: 16px 24px;
    }

    .vip_banner__text {
        line-height: 20px;
    }

    .vip_banner__ref{
        text-decoration: none;
        color: var(--turquoise);
        line-height: 20px;
        font-weight: 600;
    }
}